<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HealthDiseasePredication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginSuccess</display-name>
    <servlet-name>AdminLoginSuccess</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.AdminLoginSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginSuccess</servlet-name>
    <url-pattern>/AdminLoginSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginSuccessServlet</display-name>
    <servlet-name>AdminLoginSuccessServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.AdminLoginSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginSuccessServlet</servlet-name>
    <url-pattern>/AdminLoginSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginSuccessServlet</display-name>
    <servlet-name>DoctorLoginSuccessServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.DoctorLoginSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginSuccessServlet</servlet-name>
    <url-pattern>/DoctorLoginSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRegisterServlet</display-name>
    <servlet-name>DoctorRegisterServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.DoctorRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegisterServlet</servlet-name>
    <url-pattern>/DoctorRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLoginServlet</display-name>
    <servlet-name>PatientLoginServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.PatientLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLoginServlet</servlet-name>
    <url-pattern>/PatientLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegisterServlet</display-name>
    <servlet-name>PatientRegisterServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.PatientRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegisterServlet</servlet-name>
    <url-pattern>/PatientRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiseaseServlet</display-name>
    <servlet-name>AddDiseaseServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.AddDiseaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiseaseServlet</servlet-name>
    <url-pattern>/AddDiseaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiseaseDoctorServlet</display-name>
    <servlet-name>AddDiseaseDoctorServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.AddDiseaseDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiseaseDoctorServlet</servlet-name>
    <url-pattern>/AddDiseaseDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PredictDiseaseServlet</display-name>
    <servlet-name>PredictDiseaseServlet</servlet-name>
    <servlet-class>HealthDiseasePredicationPackage.PredictDiseaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredictDiseaseServlet</servlet-name>
    <url-pattern>/PredictDiseaseServlet</url-pattern>
  </servlet-mapping>
</web-app>